*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #F5F5F1;
}

/* HEADER */
#up-container{
  text-align: center;
  width: 35%;
  margin: 30px auto;
  color: #646463;
  font-size: 0.8rem;
}

h1{
  font-size: 1rem;
  margin-bottom: 20px;
}

#up-container p{
  line-height: 2;
}

/* MAIN */
#container{
  width: 70%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.card{
  width: calc(100% / 3 - 20px);
  margin: 10px;
  background-color: #fff;
}

.card img{
  width: 100%;
  object-fit: contain;
}

.description{
  color: #79736d;
  text-align: center;
  padding: 20px;
}

.description p{
  margin-top: 5px;
  font-size: 0.8rem;
}

  